/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
# margin-bottom: 1.5em;
#    border: 1px dotted red;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-menu-secondary-links ul.menu, li.leaf a /* affects all menu items due to the .menu class */ {

    color:#fff;
    padding:4px;
    text-shadow: 1px 1px 2px gray; /* sharpens the look of the menu-items */
}

#block-menu-primary-links  /* main navigation/both main and secondary menu */ {

    background-color:#bebdae;
    float:left;
    width:960px;
    margin-top:0px;
    color:#fff; /* Does not affect the text-color for some reason */
}

#block-menu-secondary-links  /* About | Researchers | Partners */	{

    background-color:#bebdae;
    position:absolute;
    top:0px;
    width:960px;
    z-index:0;
    color:#000; /* Does not affect the text-color for some reason */

}


#block-menu-primary-links li.leaf a {

    color: #000; /* Does not affect the text-color for some reason */

}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
   
    position:relative;
#   margin-top:2em; /* change value in forms.css */
    background-color:#e2e2d2;
    top:70px;
    width:20%;
    margin-left: 80%;
    text-align:left;
   # padding:.2em;
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ 
			/* login / logout */	{

	position:relative;	
	float:right;
	top:-123px; /*addition to logo top margin must be negatively increased here*/
	width:20%;
	background-color:#bebdae;
	clear:both;
	z-index:10;
	line-height: 1.5em;
}

#block-system-user-menu li.leaf a {
#    padding-left:20px;
}


#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {

    float:left;
    width:960px;
    background-color:#fff; 
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

