/**
 * @file
 * Field Styling
 */


.field /* Wrapper for any field. */ {
}

/*
 * Field types (Core)
 */
.field-type-text {
}

.field-type-text-long {
}

.field-type-text-with-summary {
}

.field-type-image {
}

.field-type-file {
}

.field-type-taxonomy-term-reference {
}

.field-type-number-integer {
}

.field-type-number-decimal {
}

.field-type-number-float {
}

.field-type-list-text {
}

.field-type-list-boolean {
}

.field-type-list-integer {
}

.field-type-list-float {
}

/*
 * Field types (Contrib)
 */
.field-type-datetime /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */ {
}

.field-type-node-reference {
}

.field-type-user-reference {
}


/*
 * Knowledgebase specific fields
 */



.field-name-content-type { /*Sets the content type header in the record infobox to bold and uppercase*/
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}


.field-label-inline .field-label {
   float: left;
}

.field-type-taxonomy-term-reference .field-label {
     font-size: 1.0em;
     font-weight: bold;
}

.field-type-taxonomy-term-reference a {
    font-family: Lucida Grande,Tahoma,Helvetica,Arial,Verdana,sans-serif;
    font-size: 1.0em;
}

.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference ul.links {
    font-size: 1.0em;
}

.field-pullquote .field-items .field-item { /*padding and bg-color for pull quotes box*/
  padding-left: 10px;
  margin-left: 15px;
  padding-right: 10px;
  margin-right: 15px;
  padding-bottom: 10px;
  margin-top: 5px;
  background-color: #ececec;
}

fieldset .fieldset-description {
  margin-top: 15px;
 }

div.field-type-taxonomy-term-reference {
    font-family: Lucida Grande,Tahoma,Helvetica,Arial,Verdana,sans-serif;
}




/*
 * Named fields
 */
.field-name-body {
}

.field-name-field-image {
}

.field-name-field-tags {
}

.field-name-field-FIELDNAME /* Underscores in field name are replaced with dashes. */ {
}
