 /**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
background-color: #F3F2EA; 
}

#page-wrapper,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
#  margin-top:140px;
}

#page {
background-color: white;
}

/*
 * Header
 */
#header {

}

#header .section {
}

.region-header {
/* line-height: 8.5; */
line-height: 0;
}

.region-header-top .section {
margin: 0 0 0 0;
}

.region-header-top  {
float: left;
width: 100%;
background-color: #bebdae;
}

.region-header-bottom .section {
margin: 0 0 0 0;
}

.region-header-bottom {
float: left;
width: 100%;
background-color: #bebdae;
margin-top: -15px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 760px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 8px;
}


/*
 * Front Page Panel 
 * - styling of the different panes could be placed in html-reset.css - for now they are here
 */

#front-page-pane-about h2.pane-title { /* test test */
color: #333333;
}

#front-page-pane-about { /* CSS-ID for front page panel About pane */
width: 400px;
}

#front-page-pane-about .pane-title { /*testing for selecting pane-title*/

}

#front-page-pane-about .pane-content { /*testing for selecting pane content*/

}


#front-page-pane-news { /* CSS-ID for front page panel News-pane */

}

#front-page-pane-news h2.pane-title { /* The font style of the News-title element */
color: #333333;
font-size: 13px;
font-weight: normal;
}


h2.front-recent-posts { /* class for the news view of the recent news posts */
font-size: 10px;
margin: 13px 0px 0px 0px;
}


#front-page-pane-separator1 { /* CSS-ID for front page panel separator 1 */
width: 944px;
background-color: #333333;
height: 8px;
margin: -1.8em 0em 0em 0em;

}

#front-page-pane-conference1 { /* CSS-ID for front page panel conference pane */
margin: -2em 0em 0em 0em;
}

#front-page-pane-conference2 { /* CSS-ID for front page panel conference pane */
margin: -2.2em 0em 0em 0em;
}

#front-page-pane-kbheader { /* CSS-ID for front page panel kbheader */
 width: 944px;
background-color: #333333;
margin: -4.6em 0em 0em 0em;

}

#front-page-pane-kbheader .pane-title { /*position and style of ELMCIP KNOWLEDGE BASE pane-title*/
height: 50px;
line-height: 2.5em;
padding-left: 8px;
color: white;
}

#front-page-pane-kbleft { /* CSS-ID for front page panel KB left column */
background-color: #bebdae;
margin: -1.5em 0em 0em 0em;
height: 345px;
}

#front-page-pane-kbleft .pane-title { /*position and style of KB left pane-title*/
color: #fff;
background-color: rgba(226, 226, 210, 0.7);
text-align: center;
}

#front-page-pane-kbleft .pane-content { /*position and style of KB left pane-title*/
padding: 8px;
}

#front-page-pane-kbmiddle { /* CSS-ID for front page panel KB middle column */
background-color: #e2e2d2;
margin: -1.5em 0em 0em 0em;
}

#front-page-pane-kbmiddle .pane-title { /*position and style of KB middle column pane-title*/
color: #fff;
background-color: rgba(0, 0, 0, 0.7);
text-align: center;

}

#front-page-pane-kbmiddle .pane-content { /*position and style of KB middle column pane-content*/
padding: 8px;
}

#front-page-pane-kbright { /* CSS-ID for front page panel KB right column */
background-color: #e2e2d2;
background-image: url("http://chronicle.com/blogs/wiredcampus/files/2011/02/ELO_cover.png");
margin: -1.5em -0.65em 0em 0em;
height: 345px;

}

#front-page-pane-kbright .pane-title { /*position and style of KB right column pane-title*/
color: #fff;
background-color: rgba(0, 0, 0, 0.7);
text-align: center;
}


#front-page-pane-separator2 { /* CSS-ID for front page panel separator beneath KB */
 width: 944px;
background-color: #333333;
height: 8px;
margin: -2.1em 0em 0em 0em;
}

#front-page-pane-anthology1 { /* CSS-ID for front page panel Anthology pane */
margin: -2.1em 0em 0em 0em;
}

#front-page-pane-anthology2 { /* CSS-ID for front page panel Anthology pane */
margin: -2.2em 0em 0em 0em;
}


#front-page-pane-separator3 { /* CSS-ID for front page panel separator beneath anthology */
 width: 944px;
background-color: #333333;
height: 8px;
margin: -4em 0em 0em 0em;
}


#front-page-pane-sponsors { /* CSS-ID for front page panel sponsor pane */
padding-left: 8px;
background-color: #bebdae;
margin: -4.5em 0em 0em 0em;
width: 936px;
}

/* Knowledge base front page */

table.views-table { /* The table layout of the knowledgebase frontpage, generated by views */
  border: 1px solid #000;
  border-collapse: inherit;
}

th.views-field { /* Selector for the table header background on the KB front page*/ 
  background-color: #666; 
/*  color: white; This does the same as "table tr th.views-field", again not selecting the links*/ 
}


table tr th.views-field { /* selecting the text elements of the table header (not the links) */
color: white;
}

th.views-field.views-field-title { /*Trying to find a selector for the table header links: Not working*/
color: white;
}


table tr th a:visited { /*Trying to find a selector for the table header links: Not working*/
color: white;
}

tr th.views-field, tr td.views-field { /*padding for the table cells and row of the knowledgebase frontpage view elements*/
padding: 4px 9px;
}



/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 3em; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 3em; /* Set this to the same value as the navigation height above. */
}

#navigation .section {
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0 20px 0 0; /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0 0 0 20px; /* LTR */
  padding: 0;
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

