/**
 * @file
 * Drupal core block Styling.
 */

/**
 * Menu classes.
 */

.region-header .block-menu.last {
  position: absolute;
  bottom: 0;
  right: 0;
}

#block-menu-primary-links {
  background-color: #bebdae;
  float: left;
  width: 960px;
  margin-top: 0;
}

#block-menu-secondary-links {
  background-color: #bebdae;
  position: absolute;
  top: 0;
  width: 960px;
}

#block-menu-primary-links li.leaf a {
  color: blue;
}

#block-menu-secondary-menu .first.leaf {
  color: red;
}

/**
 * Conference menu styling.
 */
#block-menu-menu-conference ul.menu a {
  float: none;
  color: black;
  text-shadow: none;
  padding-left: 10px;
}

/**
 * Highlighted region. Normally used for maintenance info and other important
 * end user information.
 */
.region-highlighted .block {
  background-color: #71A400;
  padding: 10px 20px;
}
.region-highlighted .content,
.region-highlighted h2,
.region-highlighted p {
  color: #efefef;
}
.region-highlighted p:last-child {
  margin-bottom: 0;
}

.region-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.region-footer .block {
  width: 300px;
  margin: 0 10px;
}
