/**
 * @file
 * Drupal core block Styling.
 */

.header ul li.leaf {
  list-style: none;
}
.header li a.active,
.header a:visited,
.header a:link {
  color: #ffffff;
  opacity: 0.85;
  transition: all .2s;
}
.header a:hover {
  opacity: 1;
}
.header li a.active {
  text-decoration: underline;
}

/**
 * Menu classes.
 */
#block-menu-primary-links {
  background-color: #bebdae;
  float: left;
  width: 960px;
  margin-top: 0;
}

#block-menu-secondary-links {
  background-color: #bebdae;
  position: absolute;
  top: 0;
  width: 960px;
}

#block-menu-primary-links li.leaf a {
  color: blue;
}

/**
 * Conference menu styling.
 */
#block-menu-menu-conference ul.menu a {
  float: none;
  color: black;
  text-shadow: none;
  padding-left: 10px;
}

/**
 * Highlighted region. Normally used for maintenance info and other important
 * end user information.
 */
.region-highlighted .block {
  background-color: #71A400;
  padding: 10px 20px;
}
.region-highlighted .content,
.region-highlighted h2,
.region-highlighted p {
  color: #efefef;
}
.region-highlighted p:last-child {
  margin-bottom: 0;
}
