/**
 * @file
 * Comment Styling
 */

/* Wrapper for the list of comments and its title */
#comments {
  margin: 1.5em 0;
}

/* Preview of the comment before submitting new or updated comment */
.comment-preview {
  background-color: #ffffea;
}

/* "New" marker for comments that are new for the current user */
.new {
  color: #c00;
}
