/**
 * @file
 *
 * Field Styling
 */

.field-label-inline .field-label {
   float: left;
}

.field-tags-inline a {
  display: inline-block;
  margin-right: 1.5em;
  white-space: nowrap;
}

fieldset .fieldset-description {
  margin-top: 15px;
}
