/**
 * @file
 * Forms, button, checkboxes styles.
 */

a:link.button,
.diff-links a.active,
.diff-links a:link {
  color: #71A400;
}
.button,
.diff-links a,
.form-submit {
  color: #71A400;
  background: #fff;
  border: 1px solid #71A400;
  font-size: 1em;
  line-height: 1em;
  padding: 7px 12px;
  font-weight: normal;
  margin: 6px 12px 6px 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 120px;
}
a.button:hover,
a.button:active,
.diff-links a:hover,
.diff-links a.active,
.form-submit:hover,
.form-submit:active {
  color:#fff;
  background:#71A400;
  text-decoration: none;
}
.remove.form-submit,
#edit-delete {
  border: 1px solid #D30008;
  color: #D30008;
}
.remove.form-submit:hover,
.remove.form-submit:active,
#edit-delete:hover,
#edit-delete:active {
  background:#D30008;
  color:#fff;
}

select,
input {
  border: 1px solid #cccccc;
  color: #333333;
  font-size: 1em;
  padding: 0.5em;
}
input:focus {
  color: #333333;
}
select {
  padding: 0;
  width: 100%;
}
option {
  padding: 0.3333em 0.5em;
}

div.vertical-tabs {
  border: 1px solid rgba(34, 36, 38, 0.1);
  margin-left: 300px;
}
.vertical-tabs ul.vertical-tabs-list {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  margin-left: -300px;
  width: 300px;
}
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 20px;
}
.vertical-tabs ul.vertical-tabs-list li {
  background-color: #efefef;
  border-bottom: none;
  border-top: none;
  border-right: rgba(34, 36, 38, 0.1);
  border-left: 1px solid rgba(34, 36, 38, 0.1);
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}
.vertical-tabs ul.vertical-tabs-list li:last-child {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}
.vertical-tabs ul.vertical-tabs-list li:first-child {
  border-top: none;
}
.vertical-tabs ul.vertical-tabs-list li a {
  color: #333333;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: none;
  background-color: #f7f7f7;
}
.vertical-tabs ul.vertical-tabs-list li.selected a:hover {
  background-color: inherit;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  font-size: 0.857em;
}

.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

/* The label for a form element */
.form-item label {
  display: block;
}

/* The label for a radio button or checkbox */
.form-item label.option {
  display: inline;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.857em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0;
}

fieldset {
  border: 1px solid rgba(34, 36, 38, 0.1);
  padding: 20px;
}
legend {
  padding: 0 10px;
}

.container-inline div,
.container-inline label {
  display: inline;
}

/* Prevent views exposed filters from float. */
.views-exposed-widget.views-widget-filter-field_venue_tax_tid,
.views-exposed-widget.views-widget-filter-field_work_year_value,
.views-exposed-widget.views-submit-button {
  clear: left;
}
