/**
 * @file
 *
 * Form Styling
 */

.block-search-api-page input.form-text,
#search-api-page-search-form input.form-text,
.form-item-search-block-form input {
  color: #999;
  font-size: 1em;
  padding: 3px 5px;
}

#header input:focus {
  color: #333333;
}

.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

/* The label for a form element */
.form-item label {
  display: block;
}

/* The label for a radio button or checkbox */
.form-item label.option {
  display: inline;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0;
}

.form-submit {
	margin-top: 4px;
	vertical-align: top; /* aligning search text field with button-image */
}

.container-inline div,
.container-inline label {
  display: inline;
}

/* Prevent views exposed filters from float. */
.views-exposed-widget.views-widget-filter-field_venue_tax_tid,
.views-exposed-widget.views-widget-filter-field_work_year_value,
.views-exposed-widget.views-submit-button {
  clear: left;
}

/**
 * Password confirmation.
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/**
 * Drupal's default login form block.
 */
#user-login-form {
  text-align: left; /* LTR */
}

/**
 * OpenID.
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
#user-login-form ul {
  margin-bottom: 0;
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  margin-top: 1.5em;
  margin-left: -20px;
}

#user-login-form li.user-link {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/**
 * Drupal admin tables.
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */
form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}
