.content >img,
.field img {
  display: block;
  height: auto;
  max-width: 100%;
}

.field img.file-icon {
  display: inline;
}

.media-youtube-video,
.media-vimeo-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0;
  position: relative;
}

.media-youtube-video .media-youtube-player,
.media-vimeo-video .media-vimeo-player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

video {
  display: block;
  height: auto;
  width: 100%;
}

.file-video-flickr > div {
  position: relative;
  padding-bottom: 100%;
  padding-top: 0;
  height: 0;
}

.file-video-flickr object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
