/**
 * @file
 * Page Background Styling.
 */

#page-wrapper {
  background-color: #fff;
}

.is-admin {
  background-image: url(../images/12_col.gif);
  background-repeat: repeat-y;
}

.group-left,
.kb .panels-flexible-region {
  background-color: #e2e2d2;
}

.kb .panels-flexible-region-first {
  background-color: #bebdae;
}

.header {
  background: #f3f2ea;
}

.kb .pane-title a,
.kb .pane-title,
.region-header-bottom,
.region-header-top {
  background-color: #333;
  color: #ffffff;
}

.sponsors {
  background-color: #bebdae;
}
