/**
 * @file
 *
 * Panels styling.
 */

.front h2 {
  font-weight: normal;
}

.kb {
  background-color: #F3F2EA;
}

.kb .pane-title a,
.kb .pane-title {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.sponsors {
  background-color: #bebdae;
}

.region-footer,
.sponsors {
  font-size: 0.857em;
}
