/**
 * @file
 *
 * Styles of all tables.
 */

table {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: right;
  width: 100%;
}

table:first-child {
  margin-top: 0;
}

table:last-child {
  margin-bottom: 0;
}

table thead th {
  background: #F9FAFB;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  font-weight: bold;
  padding: 0.928571em 0.714286em;
  text-align: inherit;
}

th:first-child {
  text-align: left;
}

table tr td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  padding: 0.714286em;
  text-align: inherit;
}

table tr:first-child td {
  border-top: medium none;
}

tr td:first-child {
  text-align: left;
}

tr.even {
  background-color: #FFFFFF;
}

tr.odd {
  background-color: #FFFFFF;
}

table a:link {
  color: #000000;
}