/**
 * @file
 * Tabs Styling.
 *
 * Adds styles for the primary and secondary tabs.
 */

.logged-in .region-content {
  border-top: 1px solid #dddddd;
}

.tabs-wrapper {
  margin-bottom: 2em;
}

ul.primary {
  display: flex;
  margin: 0;
  padding: 0;
}

ul.primary li {
  background-color: #D2D2D2;
  display: flex;
}

ul.primary li a {
  background-color: #F5F5F5;
  border: none;
  margin: 0;
  padding: 0.6875em 25px;
  text-align: center;
}

ul.primary li a:before {
  font-family: fontawesome, serif;
  font-weight: normal;
  margin-right: 10px;
}

ul.primary li a:hover {
  color: #45B045;
  background-color: #D2D2D2;
}

ul.primary li.active a {
  background-color: #F5F5F5;
  border: none;
  border-bottom: 9px solid #45B045;
}
