/**
 * @file
 *
 * Tabs Styling.
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510).
 */


.logged-in .region-content {
  border-top: 1px solid #DDDDDD;
}

ul.primary {
  border: none;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background-color: transparent;
  border: 1px solid transparent;
  color: #BBBBBB;
  display: inline-block;
  font-weight: 600;
  margin: 0 0 -1px;
  padding: 0.6875em 25px;
  text-align: center;
}

ul.primary li a:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

ul.primary li a:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: #888;
}

ul.primary li.active a {
  background-color: transparent;
  border: 1px solid #DDDDDDD;
  border-top: 2px solid #AC0009;;
  border-bottom: 1px solid #FFFFFF;
  color: #555;
}
