.node-teaser .submitted.item {
  text-align: right;
}

.node-type-story .submitted {
  margin-bottom: 1em;
}

.node-story .node-title {
  line-height: 1.5em;
}

.node-story .field-item p:last-child {
  margin-bottom: 0;
}

.node-story .field-name-body .field-item {
  margin-bottom: 0;
}

.node-story .read-more ul {
  margin: 0;
}

.node-story .content p {
  margin-top: 0;
}

.node-teaser.two-col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 20px;
  margin-bottom: 5rem;
}

.content.item,
.node-title.item,
.two-col .item {
  grid-column-start: 5;
  grid-column-end: 11;
}

.submitted.item {
  grid-column-start: 1;
  grid-column-end: 4;
}
