blockquote,
#header a {
  font-size: 1.1428em; /* 16px */
}

blockquote {
  font-family: Georgia, serif;
}

#header .social a {
  font-size: 34px;
}

h1#site-name,
div#site-name {
  font-size: 2em;
  line-height: 1.5em;
}

.group-right h2 {
  font-size: 1em;
}

.view-elmcip-taxonomy-term .term_present {
  display: block;
  margin: 0 0 1.5em 0;
}

.term_present {
  font-weight: normal;
}

.term_missing {
  color: #999;
  font-style: italic;
  font-weight: normal;
}

.front .views-field-field-author-name a,
.facetapi-facetapi-links a {
  color: #333333;
}

.group-right p:first-child {
  margin-top: 0;
}

group-right p:last-child {
  margin-bottom: 0;
}

.front .views-field-field-author-name,
.group-left .field-name-field-record-status-tax {
  font-style: italic;
}

.view-header {
  font-weight: bold;
}
.form-item label {
  font-weight: bold;
}

.form-item label.option {
  font-weight: normal;
}

.label-above {
  font-weight: bold;
}

.group-left .title {
  font-weight: bold;
  text-transform: uppercase;
}

.front h2 {
  font-weight: normal;
}

/* Search */
.facetapi-facetapi-links {
  font-weight: bold;
}

.facetapi-facetapi-links a {
  font-weight: normal;
}

table thead th {
  font-weight: bold;
}
