/**
 * @file
 *
 * Views Styling.
 */

.view-header {
  margin-bottom: 1em;
}

.front .views-row {
  margin-bottom: 10px;
}

.front #content .pane-views-recent-posts .views-row h2 {
  margin: 0;
  padding: 0;
}

.front #content .pane-views-recent-posts .field-item {
  margin: 0;
}
