/**
 * @file
 *
 * Views Styling.
 */

.view-header {
  font-weight: bold;
  margin-bottom: 1em;
}

/* Title of view pulled inn for KB-records */
.group-right h2 {
  font-size: 1.0em;
}

.front .views-row {
  margin-bottom: 10px;
}

.front #content .pane-views-recent-posts .views-row h2 {
  margin: 0;
  padding: 0;
}

.front #content .pane-views-recent-posts .field-item {
  margin: 0;
}
