[submodule "drupal"]
	path = drupal
	url = git@github.com:elmcip/drupal.git
[submodule "tota11y"]
	path = modules/development_settings/tests/tota11y
	url = https://github.com/Khan/tota11y.git
[submodule "themes/elmcip_base"]
	path = themes/elmcip_base
	url = git@github.com:elmcip/elmcip_base.git
[submodule "cellproject.net/cellproject"]
	path = cellproject.net/cellproject
	url = https://github.com/smbjorklund/cellproject.git
[submodule "cellproject.net/themes/centum"]
	path = cellproject.net/themes/centum
	url = https://github.com/smbjorklund/centum.git
