.block-sponsor {
  text-align: left;
}
.block-sponsor .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
a:link.sponsor {
  width: 120px;
  margin: auto;
}
.sponsor img {
  display: block;
  height: auto;
  width: 100%;
}
