/**
 * @file
 * Style to control search related content.
 */

.block-facetapi ul {
  padding: 0 0 0 16px;
}
.block-facetapi ul li {
  list-style: none;
  margin-left: 0;
  position: relative;
}
input.facetapi-checkbox {
  left: -16px;
  margin: 0;
  position: absolute;
  top: 5px;
}
.facetapi-limit-link {
  display: block;
  text-align: right;
}

.view-kb-search ul {
  list-style-type: none;
  padding: 0;
}

.view-kb-search ul li {
  margin: 0 0 20px 0;
}
